# Install latest wheel from master branch as ray[default] does not contain fixes for azure sdk
# See corresponding issue on github: https://github.com/ray-project/ray/issues/19523
# Install from master branch with proper settings: https://docs.ray.io/en/latest/installation.html
ray[default] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-macosx_10_15_x86_64.whl
azure-cli
azure-core